{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "destructuring": true,
        "forOf": true,
        "modules": true,
        "templateStrings": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
    }
}