<div class="card">
    <div class="card-header bg-default">
        <h4>Neuer Kunde</h4>
    </div>

    <div class="card-block">
        <!-- Template-Syntax:
                [ngFormModel]="form"  fuer Input = Property Binding
                                      d.h. ngFormModel fuer Attr. form
                (submit)="save()"  fuer Output = Event Binding
                                   d.h. Ereignis submit an save() anbinden
                                   oder on-submit="save"
                Definition von Attributnamen gemaess HTML: Attribute names
                must consist of one or more characters other than the
                space characters, U+0000 NULL, """, "'", ">", "/", "=",
                the control characters, and any characters that are not
                defined by Unicode.
                https://github.com/angular/angular/issues/6786
        -->
        <form [ngFormModel]="form" role="form">
          <!-- Nachname Form -->
            <div class="form-group row"
                [class.text-danger]="!nachname.valid && nachname.touched">
                <label for="nachnameInput" class="col-sm-2 form-control-label">
                    Nachname *
                </label>
                <div class="col-sm-10">
                    <input id="nachnameInput"
                        placeholder="Nachname"
                        class="form-control"
                        autofocus
                        required
                        pattern="\w.*"
                        minlength="2"
                        type="text"
                        [ngFormControl]="nachname">
                </div>
                <div class="col-sm-offset-2 col-sm-10"
                    *ngIf="!nachname.valid && nachname.touched">
                    Ein Nachname muss mit einem Buchstaben oder einer Ziffer
                    beginnen und mindestens 2 Zeichen lang sein.
                </div>
            </div>
          <!-- Vorname Form -->
            <div class="form-group row"
                [class.text-danger]="!vorname.valid && vorname.touched">
                <label for="vornameInput" class="col-sm-2 form-control-label">
                    Vorname *
                </label>
                <div class="col-sm-10">
                    <input id="vornameInput"
                        placeholder="Vorname"
                        class="form-control"
                        autofocus
                        required
                        pattern="\w.*"
                        minlength="2"
                        type="text"
                        [ngFormControl]="vorname">
                </div>
                <div class="col-sm-offset-2 col-sm-10"
                    *ngIf="!vorname.valid && vorname.touched">
                    Ein Vorname muss mit einem Buchstaben oder einer Ziffer
                    beginnen und mindestens 2 Zeichen lang sein.
                </div>
            </div>

            <!-- Email Form -->
              <div class="form-group row"
                  [class.text-danger]="!email.valid && email.touched">
                  <label for="emailInput" class="col-sm-2 form-control-label">
                      Email *
                  </label>
                  <div class="col-sm-10">
                      <input id="emailInput"
                          placeholder="Email"
                          class="form-control"
                          autofocus
                          required
                          pattern="\w.*"
                          minlength="2"
                          type="email"
                          [ngFormControl]="email">
                  </div>
                  <div class="col-sm-offset-2 col-sm-10"
                      *ngIf="!email.valid && email.touched">
                      Eine Email-Adresse muss mit einem Buchstaben oder einer Ziffer
                      beginnen und mindestens 2 Zeichen lang sein.
                  </div>
              </div>

              <!-- Password Form -->
                <div class="form-group row"
                    [class.text-danger]="!password.valid && password.touched">
                    <label for="passwordInput" class="col-sm-2 form-control-label">
                        Password *
                    </label>
                    <div class="col-sm-10">
                        <input id="passwordInput"
                            placeholder="Password"
                            class="form-control"
                            autofocus
                            required
                            pattern="\w.*"
                            minlength="2"
                            type="password"
                            [ngFormControl]="password">
                    </div>
                    <div class="col-sm-offset-2 col-sm-10"
                        *ngIf="!password.valid && password.touched">
                        Ein Password muss mit einem Buchstaben oder einer Ziffer
                        beginnen und mindestens 2 Zeichen lang sein.
                    </div>
                </div>

                <!-- PasswordWdh Form -->
                  <div class="form-group row"
                      [class.text-danger]="!passwordWdh.valid && passwordWdh.touched">
                      <label for="passwordWdhInput" class="col-sm-2 form-control-label">
                          PasswordWdh *
                      </label>
                      <div class="col-sm-10">
                          <input id="passwordWdhInput"
                              placeholder="Password wiederholen"
                              class="form-control"
                              autofocus
                              required
                              pattern="\w.*"
                              minlength="2"
                              type="password"
                              [ngFormControl]="passwordWdh">
                      </div>
                      <div class="col-sm-offset-2 col-sm-10"
                          *ngIf="!passwordWdh.valid && passwordWdh.touched">
                          Wiederholen Sie das Password.
                      </div>
                  </div>
            <!-- Kategorie Form -->
            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Kategorie</label>
                <div class="col-sm-10">
                    <select class="form-control" [ngFormControl]="kategorie">
                        <option value="">Kategorie ausw&auml;hlen</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
            <!-- Rabatt Form -->
            <div class="form-group row"
                [class.text-danger]="!rabatt.valid && rabatt.touched">
                <label for="rabattInput" class="col-sm-2 form-control-label">
                    Rabatt *
                </label>
                <div class="col-sm-10">
                    <input id="rabattInput"
                        placeholder="Rabatt in Prozent, z.B. 5.67"
                        required
                        class="form-control"
                        type="search"
                        [ngFormControl]="rabatt"/>
                </div>
                <div class="col-sm-offset-2 col-sm-10"
                    *ngIf="!rabatt.valid && rabatt.touched">
                    Ein Rabatt muss in Prozent eingegeben werden, z.B. 5.67
                </div>
            </div>
            <!-- Umsatz Form -->
            <div class="form-group row"
                [class.text-danger]="!umsatz.valid && umsatz.touched">
                <label for="umsatzInput" class="col-sm-2 form-control-label">
                    Umsatz *
                </label>
                <div class="col-sm-10">
                    <input id="umsatzInput"
                        placeholder="Umsatz, z.B. 123.45"
                        required
                        class="form-control"
                        type="search"
                        [ngFormControl]="umsatz"/>
                </div>
                <div class="col-sm-offset-2 col-sm-10"
                    *ngIf="!umsatz.valid && umsatz.touched">
                    Ein Umsatz muss eingegeben werden, z.B. 123.45
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="form-group row">
                <label for="newsletterInput" class="col-sm-2 form-control-label">
                    Newsletter?
                </label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input id="newsletterInput" type="checkbox"
                                [ngFormControl]="newsletter"/>
                        </label>
                    </div>
                </div>
            </div>
            <!-- agbAkzeptiert Form -->
            <div class="form-group row">
                <label for="agbAkzeptiertInput" class="col-sm-2 form-control-label">
                    AGB? *
                </label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input id="agbAkzeptiertInput" type="checkbox"
                                [ngFormControl]="agbAkzeptiert"/>
                        </label>
                    </div>
                </div>
            </div>
            <!-- Bemerkungen Form -->
            <div class="form-group row">
                <label for="bemerkungenInput" class="col-sm-2 form-control-label">
                    Bemerkungen
                </label>
                <div class="col-sm-10">
                    <input id="bemerkungenInput"
                        placeholder="Bemerkungen hier eintragen."
                        class="form-control"
                        autofocus
                        type="text"
                        [ngFormControl]="bemerkungen">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <!-- Template-Syntax:
                            (click)="save()"  fuer Output = Event Binding
                                              d.h. Ereignis click an save() anbinden
                                              oder on-click="save"
                            [disabled]="..." fuer Input = Property Binding
                    -->
                    <button class="btn btn-secondary" (click)="save()"
                            [disabled]="!form.valid">
                        <i class="fa fa-check"></i> &nbsp; Jetzt anlegen
                    </button>
                </div>
            </div>
        </form>

        <small>* sind Pflichtfelder</small>
    </div>
</div>
